$toolbar-height: 40px;

html,
body {
  background: #343434;
  color: $gray-light;
  padding: 0;
  margin: 0;
  overflow: hidden !important;
}

.ui-drag {
  -webkit-app-region: drag;
}

.ui-nodrag {
  -webkit-app-region: no-drag;
  -webkit-user-drag: none;
}

body {
  min-width: 1024px;
  min-height: 200px;

  @extend .ui-nodrag;
}

* {
  cursor: default;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

*:focus {
  outline: none;
  box-shadow: inherit;
}

.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

.viewport {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: $toolbar-height;
  overflow: auto;

  .viewport-content {
  }
}

.toolbar + .viewport {
  top: $toolbar-height;
}

.connect {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: $toolbar-height;
  background: #fff;

  .round-rect {
    width: 800px;
    margin: 100px auto 0 auto;
    padding: 50px 0;
    height: auto;
    text-align: center;
    background: $gray-lighter;
    border-color: #ddd;
    color: $gray-dark;

    .title {
      margin-bottom: 50px;
    }
  }
}
