$toolbar-height: 40px;
$sidebar-width: 25%;
$sidebar-min-width: 200px;

html,
body {
  background: #343434;
  color: $gray-light;
  padding: 0;
  margin: 0;
  overflow: hidden !important;
}

.ui-drag {
  -webkit-app-region: drag;
}

.ui-nodrag {
  -webkit-app-region: no-drag;
  -webkit-user-drag: none;
}

body {
  min-width: 1024px;
  min-height: 200px;

  @extend .ui-nodrag;

  & > .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    -webkit-filter: blur(20px);
    opacity: 0.2;
  }
}

* {
  cursor: default;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

*:focus {
  outline: none;
  box-shadow: inherit;
}

.hidden {
  visibility: hidden;
}

.hide {
  display: none;
}

@mixin attach-to-sidebar() {
  width: $sidebar-width;
  max-width: $sidebar-min-width;
}

.attach-to-sidebar {
  @include attach-to-sidebar();
}

.viewport {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: $toolbar-height;
  overflow: hidden;

  .viewport-content {
    overflow: hidden;
    height: 100%;
  }
}

.toolbar + .viewport {
  top: $toolbar-height;
}

.connect {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: $toolbar-height;
  background: #333;

  .round-rect {
    width: 800px;
    margin: 100px auto 0 auto;
    padding: 50px 0;
    height: auto;
    text-align: center;
    background: $gray;
    border-color: #222;
    color: $gray-light;

    .title {
      margin-bottom: 50px;
    }
  }
}
