html,
body {
  background: #343434;
  color: $gray-light;
  padding: 0;
  margin: 0;
  overflow: hidden !important;
}

body {
  min-width: 1024px;
  min-height: 800px;
  -webkit-app-region: no-drag;
}

* {
  cursor: default;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

*:focus {
  outline: none;
  box-shadow: inherit;
}

.hidden {
  visibility: hidden;
}

.viewport {
  background: #343434;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;

  .viewport-content {
  }
}

.connect {
  position: fixed;
  z-index: 9999;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #343434;
  color: $gray-light;
  text-align: center;

  .card {
    width: 800px;
    margin: 100px auto 0 auto;
    border-color: $gray-dark;
    background-color: $gray;
    padding: 50px 0;

    .card-title {
      margin-bottom: 50px;
    }
  }
}
