.table {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .table-row {
    display: flex;
    align-items: center;
    align-content: center;

    .table-column {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 12px;
      line-height: 24px;
      min-height: 24px;
    }
  }

  .table-head {
    display: block;
    background: #232323;
    border-bottom: 1px solid #BCBCBC;
    color: $gray-light;
    position: fixed;
    left: 0;
    right: 0;
    z-index: +1;
    padding-right: 8px;
  }

  .table-body {
    display: block;
    overflow: auto;
    overflow-y: scroll;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .table-head,
  .table-body {
    .table-column:nth-child(1) { width: 67px; text-align: center; }
    .table-column:nth-child(2) { width: 83%; }
    .table-column:nth-child(3) { width: 100px; }

    .table-column:not(:nth-child(1)) {
      padding: 0 6px;
    }
  }

}
