.header {
  @extend .navbar;
  @extend .navbar-fixed-top;
  @extend .navbar-default;

  background: #343434;
  border-bottom: 1px solid #444;
  height: 44px;
  padding-top: 0;
  padding-bottom: 0;

  &, *:not(button):not(input) {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

  .header-control {
    display: inline-block;
    float: left;
    padding-top: 3px;
    padding-bottom: 2px;
    height: 44px;
  }

  .header-btn-group {
    @extend .navbar-btn;
    @extend .btn-group;

    &.header-control {
      padding-top: 0;
      padding-bottom: 0;

      .header-btn {
        padding-top: 3px;
        padding-bottom: 2px;
      }
    }
  }

  .header-btn {
    @extend .btn;
    @extend .btn-link;
    @extend .navbar-btn;

    height: 44px;
    padding: 0 10px;
    color: $gray-light;
    cursor: default;

    &:hover {
      color: $gray-lighter;
      text-decoration: none;
    }

    &:focus,
    &:active,
    &:active:focus {
      outline: none;
      color: $gray-light;
      text-decoration: none;
    }

    &.playback-control {
      min-width: 48px;
      text-align: center;

      .fa {
        font-size: 24px;
      }

      &:disabled {
        &,
        .fa {
          color: $gray-light;
          cursor: default;
        }
      }
    }
  }

  .avatar-img {
    margin: 4px 0;
    width: 30px;
    height: 30px;
  }

  .volume-control {
    -webkit-appearance: none;
    min-width: 60px;
    max-width: 110px;
    width: 75px;
    margin: -3px 50px 0 50px;
    padding: 20px 0;
    background: transparent;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      cursor: default;
      box-shadow: 0 0 2px #8E8E8E;
      background: #6C6C6C;
      box-shadow: none;
      border-radius: 4px;
      border: none;
    }

    &:focus::-webkit-slider-runnable-track {
      background: #6C6C6C;
    }

    &::-webkit-slider-thumb {
      box-shadow: 0 0 2px rgba(0,0,0,0.3), 0 2px 3px rgba(0,0,0,0.3);
      border: 0;
      height: 16px;
      width: 16px;
      border-radius: 100%;
      background: #FFFFFF;
      cursor: default;
      -webkit-appearance: none;
      margin-top: -6px;
    }
  }
}

.toolbar {
  @extend .navbar;
  @extend .navbar-fixed-top;
  @extend .navbar-default;

  top: 44px;
  background: #343434;
  border-bottom: 1px solid #444;
  padding-top: 2px;
  padding-bottom: 2px;

  .btn {
    @extend .btn-secondary;
    @extend .btn-sm;

    cursor: default;
    background: #343434;
    border-color: #343434;
    color: $gray-light;

    &:active,
    &:focus,
    &:active:focus,
    &:hover {
      background: #222;
      border-color: #222;
      outline: none;
      box-shadow: none;
      color: $gray-light;
    }
  }

  label.btn {
    margin-bottom: 0;
  }

  .open .btn,
  .btn-group.open .dropdown-toggle,
  .btn:active,
  .btn.active {
    background: #222;
    border-color: #222;
    color: $gray-light;
    text-decoration: none;
  }

  .row > div {
    text-align: center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;

      .dropdown-menu {
        @extend .dropdown-menu-right;
      }
    }
  }

  .dropdown-menu {
    border-radius: 0;
    border-top-width: 0;
    margin-top: 3px;
  }

}

.round-rect {
  border: 1px solid $gray-dark;
  background: $gray;
  height: 40px;
  margin: 2px 0;
  border-radius: 3px;
  color: $gray-light;

  .text-row {
    font-size: 80%;
    font-weight: bold;
  }

  .sub-text-row {
    font-size: 70%;
  }
}
