.light {
  body,
  .viewport,
  .connect,
  .header,
  .toolbar,
  .round-rect {
    background: #fff;
    color: $gray-dark;
  }

  .toolbar,
  .header {
    border-color: #ddd;
  }

  .header {
    .header-btn {
      &,
      &:hover,
      &:focus,
      &:active,
      &:active:focus {
        color: $gray-dark;
      }
      &.playback-control {
        &:disabled {
          &,
          .fa {
            color: #888;
          }
        }
      }
    }
    .round-rect {
      background: #eee;
    }
  }

  .toolbar {
    .btn {
      background: #fff;
      border-color: #fff;
      color: $gray-dark;

      &:active,
      &:focus,
      &:active:focus,
      &:hover {
        background: #ddd;
        border-color: #ddd;
        color: $gray-dark;
      }
    }
    .open .btn,
    .btn-group.open .dropdown-toggle,
    .btn:active,
    .btn.active {
      background: #ddd;
      border-color: #ddd;
      color: $gray-dark;
    }
  }

  .round-rect {
    border-color: #ddd;

    .artwork {
      background: #ddd;
    }

    .playback-progress {
      box-shadow: 0 -5px 0 0 $gray-light inset;

      .progress-value {
        background-color: $brand-highlight;
      }
    }
  }

  .playlist {
    thead th {
      background: linear-gradient(to bottom, $gray-lightest, $gray-light);
      border-color: #ddd;
    }
    tbody {
      tr {
        &.now-playing {
          background-color: $gray-light;
        }

        &:first {
          td {
            border-top-width: 0;
          }
        }

        td {
          border-color: #ddd;

          .artwork {
            background: #eee;
            border-color: #ddd;
            color: #ddd;
          }
        }
      }
    }
  }

  .viewport {
    &::-webkit-scrollbar-track {
      background: #fff;
    }
  }
}
