.viewport {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #343434;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: $gray-dark;

    &:window-inactive {
      background: $gray;
    }
  }
}
