.viewport {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #222;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #444;

    &:window-inactive {
      background: $gray;
    }
  }
}
