.toolbar {
  @extend .navbar;
  @extend .navbar-default;

  background: #fff;
  -webkit-backdrop-filter: blur(10px);

  border-top: 1px solid #BCBCBC;
  border-bottom: 0;
  height: $toolbar-height;
  padding: 0 0 0 0;
  z-index: 2000;
  color: #878787;

  .toolbar-control {
    display: inline-block;
    float: left;
    padding-top: 3px;
    padding-bottom: 2px;
    height: $toolbar-height;
  }

  .toolbar-btn-group {
    @extend .navbar-btn;
    @extend .btn-group;

    &.toolbar-control {
      padding-top: 0;
      padding-bottom: 0;

      .toolbar-btn {
        padding-top: 3px;
        padding-bottom: 2px;
      }
    }
  }

  .toolbar-btn {
    @extend .btn;
    @extend .btn-link;
    @extend .navbar-btn;
    @extend .ui-nodrag;

    height: 38px;
    padding: 0 10px;
    color: $gray-light;
    cursor: default;

    &:hover {
      color: $gray;
      text-decoration: none;
    }

    &:focus,
    &:active,
    &:active:focus {
      outline: none;
      color: $gray-light;
      text-decoration: none;
    }

    &.playback-control {
      min-width: 48px;
      text-align: center;

      .fa {
        font-size: 24px;
      }

      &:disabled {
        &,
        .fa {
          color: #444;
          cursor: default;
        }
      }
    }
  }

  .dropdown-menu {
    padding: 4px 0 4px 0;
    box-shadow: 0 0 10px #444;
    margin-top: 0px;
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .avatar-img {
    margin: 4px 0;
    width: 30px;
    height: 30px;
    @extend .ui-nodrag;
  }

  .volume-control {
    @extend .ui-nodrag;
    -webkit-appearance: none;
    min-width: 60px;
    max-width: 110px;
    width: 75px;
    margin: -6px 20px 0 20px;
    padding: 20px 0;
    background: transparent;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      cursor: default;
      box-shadow: 0 0 2px #8E8E8E;
      background: #6C6C6C;
      border-radius: 4px;
      border: none;
    }

    &:focus::-webkit-slider-runnable-track {
      background: #6C6C6C;
    }

    &::-webkit-slider-thumb {
      box-shadow: 0 0 2px rgba(0,0,0,0.3), 0 2px 3px rgba(0,0,0,0.3);
      border: 0;
      height: 16px;
      width: 16px;
      border-radius: 100%;
      background: #FFFFFF;
      cursor: default;
      -webkit-appearance: none;
      margin-top: -6px;
    }
  }
}

header.toolbar {
  @extend .navbar-fixed-top;
}

footer.toolbar {
  @extend .navbar-fixed-bottom;
}

.playback-progress {
  display: block;
  position: absolute;
  left: $toolbar-height;
  top: 9px;
  bottom: 0;
  right: 0;
  border-radius: 0;
  height: 15px;
  box-shadow: 0 -5px 0 0 #777 inset;

  .progress-value {
    width: 0%;
    height: 5px;
    background: $brand-primary;
    position: absolute;
    top: auto;
    bottom: 0;
  }

  .seek-handle {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    width: 11px;
    height: 11px;
    background: #fff;
    cursor: default;
    -webkit-appearance: none;
    margin: -3px 0 0 0;
    position: absolute;
    right: -5px;
    border-radius: 10px;
    transition-property: opacity, transform;
    transition-duration: 0.1s;
    transition-timing-function: linear;
  }

  &.loading {
    &,
    .progress-value {
      background: $brand-info;
    }
  }
}

.playback-time-current,
.playback-time-duration {
  position: relative;
  text-align: center;
  font-size: 11px;
  line-height: $toolbar-height;
}

.playback-time-current {
  left: 20px;
}

.playback-time-duration {
  right: 20px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.marquee {
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  animation-name: marquee;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.player-container {
  @include attach-to-sidebar();

  height: $sidebar-width;
  min-height: $sidebar-min-width;
  border-top: 1px solid #BCBCBC;
  position: relative;

  .artwork {
    img {
      @include attach-to-sidebar();

      height: $sidebar-width;
      min-height: $sidebar-min-width;
    }
  }

  .now-playing {
    overflow: hidden;
    position: relative;
  }
}
